.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.salmon {
    background-color: salmon;
}

.orange {
    background-color: orange;
}

.tomato {
    background-color: tomato;
}

.bold {
    font-weight: bold;
}